ion-header {
    ion-toolbar {
        --background: white;
    }
}

div.logo {
    margin: 5vh 0 2vh 0;

    img {
        height: 15vh;
    }
}

ion-card {
    ion-input {
        font-size: 1rem;

        ion-icon {
            font-size: 1.2rem;
        }
    }
}