<ion-tabs (ionTabsDidChange)="getSelected($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="status">
      <ion-icon [name]="selectedTab() == 'status' ? 'chatbubble' : 'chatbubble-outline'"></ion-icon>
      Status
    </ion-tab-button>
    <ion-tab-button tab="calls">
      <ion-icon [name]="selectedTab() == 'calls' ? 'call' : 'call-outline'"></ion-icon>
      Calls
    </ion-tab-button>
    <ion-tab-button tab="chats">
      <ion-icon [name]="selectedTab() == 'chats' ? 'chatbubbles' : 'chatbubbles-outline'"></ion-icon>
      Chats
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon [name]="selectedTab() == 'settings' ? 'cog' : 'cog-outline'"></ion-icon>
      Settings
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>