div.logo {
    margin: 5vh 0 2vh 0;

    img {
        height: 25vh;
    }
}

ion-card {
    ion-input {
        font-size: 1rem;

        ion-icon {
            font-size: 1.2rem;
        }
    }
}

div.signup {
    margin-top: 5vh;

    ion-text {
        font-size: 0.9rem;
        vertical-align: -webkit-baseline-middle;
    }

    ion-button {
        --padding-start: 0;
        text-transform: none;
    }
}